.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 12, 27, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.botao-principal {
  color: #333742;
  font-weight: bold;
  background-color: #00CFDE;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s ease; 
  border: 2px solid #00CFDE;
  display: block;
  margin: 0 auto;
  

  &:hover {
    background-color: transparent;
    color: #00CFDE;
    transform: translateY(-3px);
  }
}

.modal-content {
  background-color: #1a1f2c;
  padding: 30px 40px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  
  max-height: 90vh;
  overflow-y: auto; 
}

.modal-content h2 {
  color: #00CFDE; 
  margin-top: 0;
}

.modal-content .modal-subtitle {
  color: #CCD6F6;
  margin-top: -10px;
  margin-bottom: 25px;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  color: #CCD6F6;
  background: none;
  border: none;
  cursor: pointer;
}

.formulario-modal .form-row {
  display: flex;
  gap: 20px;
}

.formulario-modal .form-group {
  margin-bottom: 20px;
  width: 100%;
}

.formulario-modal label {
  display: block;
  color: #CCD6F6;
  margin-bottom: 8px;
  font-size: 14px;
}

.formulario-modal input,
.formulario-modal select,
.formulario-modal textarea {
  resize: none;
  width: 100%;
  padding: 12px;
  background-color: #020C1B;
  border: 1px solid #30415d;
  border-radius: 4px;
  color: #CCD6F6;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formulario-modal input:focus,
.formulario-modal select:focus,
.formulario-modal textarea:focus {
  outline: none;
  border-color: #00CFDE;
  box-shadow: 0 0 10px rgba(0, 207, 222, 0.5);
}

@media (max-width: 600px) {
  .modal-content {
    padding: 20px;
    max-height: 85vh;
  }

  .formulario-modal .form-row {
    flex-direction: column;
    gap: 0px;
    
  }
}