* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #020C1B;
  line-height: 1.5;
}

.section-title {
  display: flex;
  align-items: center;
  justify-items: center;
}